<div class="container">
 
    <h3>Data Mahasiswa</h3>
    
        <div class="form-group">
            <label for="nim">Nim</label>
            <input type="text" class="form-control" id="nim" [(ngModel)]="data.nim" placeholder="Masukkan Nim">
        </div>
        <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" id="nama" [(ngModel)]="data.nama" placeholder="Masukkan Nama">
        </div>
        <div class="form-group">
            <label for="alamat">Alamat</label>
            <input type="text" class="form-control" id="alamat" [(ngModel)]="data.alamat" placeholder="Masukkan Alamat">
        </div>
        <div class="form-group">
            <label for="jeniskelamin">Jenis Kelamin</label>
            <input type="text" class="form-control" id="jeniskelamin" [(ngModel)]="data.jeniskelamin" placeholder="Masukkan Jenis Kelamin">
        </div>
        <button type="submit" class="btn btn-primary" (click)="update()">Edit Data</button>
</div>  